<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873727079234-8ljl2upf381b98grcbafvjia5q876de7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873727079234-8ljl2upf381b98grcbafvjia5q876de7</string>
	<key>API_KEY</key>
	<string>AIzaSyC8x_jd9JG7xTKDfeOvmNM4Gd0K-OqW0jY</string>
	<key>GCM_SENDER_ID</key>
	<string>873727079234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>assignment.Fooderland</string>
	<key>PROJECT_ID</key>
	<string>new-project-52269</string>
	<key>STORAGE_BUCKET</key>
	<string>new-project-52269.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873727079234:ios:c01f81e33157ef97fbcedb</string>
</dict>
</plist>